<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!--<module>
    <clientResources>
      <add name="epi.samples.Module.Styles" path="ClientResources/Styles.css" resourceType="Style"/>
    </clientResources>
  </module>-->
</configuration>
