   .loading {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: #000000;
       background-color: rgba(0, 0, 0, 0.10);
       z-index: 10000;
   }
   .animation-holder {
       position: absolute;
       bottom: 50%;
       right: 50%;
       transform: translateX(50%) translateY(50%);
       width: 100px;
       height: 100px;
   }
   .loading img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100px;
       height: 100px;
       animation: loading 1000ms infinite linear;
   }
   @keyframes loading {
       from {
           transform: rotateZ(0);
       }
       to {
           transform: rotateZ(360deg);
       }
   }